// poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// heebo
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray1: #333;
    --gray2: #4F4F4F;
    --gray3: #828282;
    --gray4: #BDBDBD;
    --gray5: #E0E0E0;
    --gray6: #F2F2F2;
    --blue: #2D9CDB;
    --green: #27AE60;
    --red: #EB5757;
    --white: #fff;

    // border
    --radius1: 12px;
    --radius2: 16px;
    --radius3: 18px;
    --radius4: 24px;
}

@import 'btnHamburguer.scss';

.container {
    width: 1050px;
    margin: 0 auto;
}

.content {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        color: var(--gray1);
        font-family: 'Heebo', sans-serif;
        font-size: 36px;
        font-weight: 800;
    }

    .nav-links {
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
        font-weight: 500;
        transition: all .4s ease-in-out;

        a {
            color: var(--gray1);
            margin-left: 17px;
        }
    }
}

#contact {
    margin: 60px 0;
    font-family: 'Poppins', sans-serif;

    .content-more {
        width: 550px;
        margin-left: 150px;

        &:nth-child(3) {
            padding-right: 200px;

            p {
                padding-right: 10px;
                font-weight: 400;
                font-size: 15px;
                color: var(--gray2);
            }

            form {
                margin-top: 35px;

                p {
                    font-size: 14px;
                    color: var(--gray3);
                    font-weight: 500;
                }
            }
        }

        h1,
        h6 {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
        }

        h6 {
            font-size: 18px;
            color: var(--blue);
            margin-bottom: 25px;
        }

        h1 {
            font-size: 48px;
            color: var(--gray1);
            line-height: 72px;
        }
    }

    header {
        margin: 40px 0;
        background-image: url(../images/heroImage.jpg);
        background-size: cover;
        border-radius: var(--radius3);
        width: 100%;
        height: 354px;
    }
}

form {
    input {
        border: none;
        background: none;
    }

    .group-contact {
        padding: 5px 10px 5px 20px;
        background: var(--gray6);
        width: 350px;
        height: 47px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        border-radius: var(--radius1);

        input[type='email'] {
            height: 100%;
            width: 100%;

            &:focus {
                outline: none;
            }
        }

        input[type='submit'] {
            cursor: pointer;
            background: var(--blue);
            width: 94px;
            height: 100%;
            border-radius: var(--radius1);
            color: var(--white);
        }
    }
}

#services {
    margin: 120px 0 80px;
    font-family: 'poppins', sans-serif;

    h1 {
        color: var(--gray1);
        font-size: 36px;
        font-weight: 500;
        width: 346px;
    }

    .content-cards {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;

        .card {
            cursor: pointer;
            margin: 0 auto;
            padding: 40px 35px;
            width: 300px;
            height: 422px;
            border-radius: var(--radius4);
            transition: all .4s ease-in-out;

            .material-icons {
                width: 64px;
                height: 67px;
                font-size: 2.2rem;
                border-radius: var(--radius2);
                color: var(--white);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            h3 {
                margin: 0;
                font-weight: 700;
                color: var(--gray1);
                margin: 25px 0;
            }

            p {
                margin: 0 0 25px;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
            }

            a {
                color: var(--gray3);
                font-weight: 500;
                font-size: 16px;
                background: var(--gray5);
                padding: 8px 12px;
                border-radius: var(--radius1);
                transition: all .4s ease-in-out;
            }

            &:hover {
                box-shadow: 0px 10px 30px rgba(51, 51, 51, .1);

                a {
                    background: var(--blue);
                    color: var(--white);
                }
            }
        }

        .card.front {
            .material-icons {
                background: var(--green);
            }
        }

        .card.back {
            .material-icons {
                background: var(--red);
            }
        }

        .card.ux {
            .material-icons {
                background: var(--blue);
            }
        }
    }
}

#work {
    font-family: 'poppins', sans-serif;

    h1 {
        font-size: 36px;
        font-weight: 500;
        width: 448px;
        color: var(--gray1);
        // margin-bottom: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;

        .col {
            width: 100%;

            img {
                border-radius: var(--radius4);
                width: 100%;
            }

            p {
                color: var(--gray3);
                font-size: 14px;
                font-weight: 300;
            }

            h5 {
                font-size: 22px;
                font-weight: 500;
            }
        }

        .col1,
        .col3 {
            margin-top: 150px;
        }

        .col5 {
            margin-top: -60px;
            width: 200%;
            display: flex;
            justify-content: flex-end;

            a {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 22px;
                color: var(--blue);

                .material-icons {
                    margin-left: 15px;
                }
            }
        }
    }
}

#team {
    margin: 100px 0;
    font-family: 'poppins', sans-serif;

    .content {
        display: flex;
    }

    .col1 {
        // padding-right: 1550px;
        display: flex;
        // align-items: center;
        width: 42%;
        flex-direction: column;
        justify-content: center;
        // padding-right: 250px;

        h6 {
            color: var(--red);
            font-size: 18px;
            font-weight: 500;
            display: block;
        }

        h1 {
            color: var(--gray1);
            font-size: 28px;
            font-weight: 500;
            width: 250px;
        }

        p {
            width: 250px;
            color: var(--gray2);
            font-size: 16px;
            font-weight: 400;
            margin-top: 5px;
        }
    }

    .col2 {
        width: 58%;
        // width: fit-content;
        // display: flex;
        // justify-content: center;
        // align-items: center;

        .grid {
            // width: min-content;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            // gap: 1em;
            grid-auto-flow: row;
            grid-template-areas:
                "col1 col2"
                "col1 col3";

            .col1 {
                grid-area: col1;

                img {
                    width: 250px;
                    height: 250px;
                    border-radius: var(--radius4);
                }
            }

            .col2 {
                grid-area: col2;

                img {
                    width: 200px;
                    height: 200px;
                    border-radius: var(--radius4);
                }
            }

            .col3 {
                grid-area: col3;

                img {
                    width: 250px;
                    height: 250px;
                    border-radius: var(--radius4);
                }
            }
        }
    }
}

#client {
    margin: 80px 0 100px;
    font-family: 'poppins', sans-serif;

    h1 {
        font-size: 32px;
        font-weight: 500;
        color: var(--gray1);
        width: 800px;
    }

    .info {
        margin-top: 40px;
        display: flex;
        align-items: center;

        img {
            width: 82px;
            height: 82px;
            border-radius: var(--radius1);
        }

        .description {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h4 {
                font-weight: 500;
                font-size: 24px;
                color: var(--gray1);
            }

            p {
                color: var(--gray3);
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}

footer {
    width: 100%;
    background: #100e1d;
    padding: 35px 0 15px;
    color: var(--white);
    font-family: 'poppins', sans-serif;

    a {
        color: var(--white);
        font-size: 14px;
    }

    .col1 {
        .grid {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .col1 {
                display: flex;
                flex-direction: column;

                a {
                    margin-bottom: 15px;
                    font-weight: 400;
                }
            }

            .col2 {
                h4 {
                    margin-bottom: 10px;
                }

                .links {
                    a {
                        margin-right: 5px;
                    }
                }
            }

            .col3 {
                p {
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
    }

    .col2 {
        p {
            text-align: center;
            margin-top: 50px;

            a {
                font-weight: bold;
            }
        }
    }
}

@media screen and (max-width: 1049px) {
    .container {
        width: 95%;
    }

    #client {
        margin: 80px 0 100px;
        font-family: 'poppins', sans-serif;

        h1 {
            font-size: 32px;
            font-weight: 500;
            color: var(--gray1);
            width: 800px;
        }
    }
}

@media screen and (max-width: 897px) {
    #team {
        .content {
            flex-direction: column;

            .col1 {
                width: 100%;

                h1 {
                    width: auto;
                }

                p {
                    width: 350px;
                }
            }

            .col2 {
                // padding: 50px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .container {
        width: 95%;
    }

    .content {
        width: 100%;
    }

    #contact {
        .content-more {
            width: 100%;
            margin-left: 0;
        }
    }

    #client {
        h1 {
            width: 100%;
        }
    }
}

@media screen and (max-width: 680px) {
    footer {
        padding: 50px 50px;

        .col1 {
            .grid {
                flex-direction: column;

                .col {
                    margin-bottom: 35px;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .btn-hamburguer {
        display: flex;
    }

    nav {
        .nav-links {
            position: fixed;
            left: 100%;
            top: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background: var(--white);
            z-index: 5;

            a{
                margin: 10px 0;
            }
        }
    }


    #contact {

        .content-more {
            &:nth-child(3) {
                padding-right: 0;

                p {
                    padding-right: 0;
                }

                form {
                    text-align: center;

                    .group-contact {
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    #work {
        .grid {
            grid-template-columns: repeat(1, 1fr);
            gap: 1em;

            .col1,
            .col3 {
                margin-top: 0;
            }

            .col {
                margin-bottom: 15px;
            }
        }
    }
}

// 878